header, main, footer {
    margin: auto;
}

html{
    margin: 1in;
}
footer, main{
    padding: 10px;
    background-color: beige;
}
.info{
    float:left;
    border: 1px;
    background-color: black;
}